.brands {
  .container .swiper {
    @include cards-container;
  }

  &__header {
    @include block-header;
  }

  &__cards {
    gap: $cardsGap;
    flex-wrap: wrap;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    width: 240px;
    height: 72px;
    background-color: $cardsColor;
  }

  &__showMoreCards {
    @include showAll-btn;
  }
}

@media (min-width: 1455px) {
  .brands__showMoreCards {
    justify-content: center;
  }
}

@media (min-width: 1336px) {
  .brands {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 870px) {
  .brands {
    &__cards {
      gap: $cardsGapTablet;
    }
    &__card {
      width: 224px;
    }
  }
}

@media (max-width: 769px) {
  .brands {
    .container {
      margin-left: 0;
    }
    &__cards {
      gap: $cardsGapTablet;
    }
    &__card {
      width: 224px;
    }
    &__showMoreCards {
      margin-left: 24px;
    }
  }
}

// Mobile
@media (max-width: 550px) {
  .brands {
    .container {
      height: 116px;
      margin: 0;

      .swiper-pagination {
        bottom: 50px;
      }
    }

    &__cards {
      flex-wrap: nowrap;
    }

    &__card {
      max-width: 240px;
    }
  }
}
