.info {
  .container {
    @include cards-container;
    margin-right: 29px;
    height: auto;
  }

  &__text {
    max-width: 490px;
    height: 135px;
    margin-right: 36px;
    overflow: hidden;
    font-size: 14px;

    p:nth-child(2) {
      margin-top: 24px;
    }
  }

  &__image {
    max-width: 360px;
    max-height: 208px;
  }

  &__readMore {
    display: flex;
    align-items: center;
    margin-top: 14px;
  }

  &__readMore svg {
    width: 7px;
    height: 10px;
    margin-right: 16px;
  }
}

@media (min-width: 1366px) {
  .info .container {
    justify-content: center;
  }
}

@media (min-width: 1240px) {
  .info__image {
    max-width: 531px;
    max-height: 307px;
  }
}

@media (max-width: 768px) {
  .info .container {
    margin-right: 12px;
  }
  .info__text {
    max-width: 312px;
    height: 122px;
    margin-right: 60px;
  }

  .info__readMore {
    margin-top: 10px;
    margin-bottom: 16px;
  }
}

@media (max-width: 700px) {
  .info {
    .container {
      flex-direction: column;
      margin: 0;
    }

    &__image {
      margin-left: -25px;
      margin-right: 0;
      max-width: none;
      max-height: none;
    }

    &__text {
      margin: 0 16px;
    }
    &__readMore {
      margin-left: 16px;
    }
  }
}

@media (max-width: 395px) {
  .info__readMore {
    margin-top: 16px;
  }
}
