.burgerMenu {
  display: none;
  position: absolute;
  top: 0;
  width: 320px;
  height: auto;
  background-color: #fff;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.426);
  z-index: 2;
  transition: visibility 0s, opacity 0.3s ease;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 19px 24px 32px 24px;
    min-height: 100vh;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    a:last-child {
      margin-left: auto;
    }

    button {
      margin-right: 17px;
    }

    .burgerMenu--logo {
      width: 97px;
      height: 51px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    &--item {
      display: flex;
      align-items: center;

      a {
        padding: 5px 0;
      }

      a:hover {
        color: #7e7e82;
        transition: ease-in 0.1s;
      }
    }
  }

  &__bottom {
    position: absolute;
    bottom: 32px;

    &--icons {
      display: flex;
      gap: 16px;
      margin-bottom: 16px;
    }

    &--contacts {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      margin-bottom: 40px;

      a:nth-child(2n) {
        font-size: 24px;
        font-weight: 700;
      }
    }

    &--language {
      display: flex;
      column-gap: 7px;

      a:hover {
        color: #7e7e82;
        transition: ease-in 0.1s;
      }
    }
  }
}

@media (min-width: 1336px) {
  .burgerMenu__header button:first-child {
    display: none;
  }
}

@media (min-width: 1437px) {
  .burgerMenu {
    width: 298px;
    display: block;
    position: static;
    box-shadow: none;

    &__header {
      margin-bottom: 37px;
    }

    &__container {
      padding: 30px 31px 37px 22px;
      width: 298px;
    }

    &__list {
      row-gap: 28px;
    }
  }
}

@media (max-height: 830px) {
  .burgerMenu,
  .burgerMenu__container {
    height: 100%;
  }

  .burgerMenu {
    padding-bottom: 800px;

    &__bottom {
      position: relative;
      margin-top: 50px;
    }
  }
}

@media (max-width: 600px) {
  .burgerMenu {
    min-width: 100%;
  }
}

@media (max-width: 360px) {
  .burgerMenu {
    width: 100%;

    &__item {
      row-gap: 24px;
    }
  }
}

@media (max-height: 700px) {
  .burgerMenu {
    overflow-y: scroll;
  }
}
